.HomePage {
  /*  .containerOne {
    width: 50vw;
  } */
  /*  .headingTxt {
    width: 50vw;
  } */
  gap: 3vw;
  .avatarContainer {
    /* border: 1px solid #fff; */
    width: 100%;
    flex-wrap: wrap;
    gap: 2vw;
    .singleImg {
      border: 0.2vw solid var(--themeColor1);
      width: 20vw;
      border-radius: 2vw;
      img {
        border-radius: 2vw;
      }
    }
  }

  /* .imgContainer {
    width: 60vw;
  } */
}
